---
interface Props {
  image: string;
  date: string;
  label: string;
  title: string;
  link: string;
}
const { image, link, date, label, title } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class={`flex gap-2 w-fit sm:h-[160px] h-[100px]`}
>
  <img src={image} class={"sm:w-[300px] w-[160px] aspect-auto"} />
  <div
    class="flex flex-col justify-evenly font-space h-full text-wrap overflow-ellipsis"
  >
    <h1 class="sm:text-2xl text-xl font-bold text-wrap">{title}</h1>
    <div
      class="font-thin text-gray-400 mx-1 text-base flex items-center sm:gap-4 gap-2"
    >
      <label class="border border-purple-700 py-[1px] px-3 rounded-sm"
        >{date}</label
      >
      <span class="border-[#C22129] border py-[1px] px-3 rounded-sm">
        {label}</span
      >
    </div>
  </div>
</a>
