---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import "../styles/md.css";
type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
  <div
    class="text-white xl:mx-40 lg:mx-20 mx-4 text-pretty mt-20 flex justify-center relative"
  >
    <article class="flex flex-col w-[1000px] items-center">
      {heroImage && <img width={350} src={heroImage} alt="GNU Logo" />}
      <div class="prose">
        <div class="title">
          <div class="date text-center">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </div>
</Layout>
